.addRadio {
  display: grid;
  position: relative;
  grid-template-areas:
  'i a b c d'
  'j e f g h';
  grid-column-gap: 5px;
  background-color: lightblue;
  width: 80vw;
  margin: 10px;
  padding: 10px;
}

[type=radio]:checked + span {
  border: 4px solid red;
}

.size {
  opacity: 0;
  width: 0;
  height: 0;
}

label span.allSpan  {
position: relative;
display: block;

text-align: center;
font-size: 2vw;
font-weight: bold;
width: 15vw;
height: 15vw;
background-color: palegreen;
color: white;
margin: 5px;
}

label span.bigSpan{
width: 15vw;
height: 15vw;
display: block;
text-align: center;
font-size: 2vw;
font-style: bold;
}


label span.smallSpan{
display: block;
text-align: center;
font-size: 2vw;
font-style: italic;
}

.cornelius {
  grid-area: a;
}

.sixth {
  grid-area: b;
}

.quarter  {
  grid-area: c;
}

.slim  {
  grid-area: d;
}

.half  {
  grid-area: e;
  position: relative;
  left: 10vw;
}

.litre {
  grid-area: f;
  position: relative;
  left: 10vw;
}

.mini {
  grid-area: g;
  position: relative;
  left: 10vw;
}
